
<div> Player 1: Human </div>
<div> Player 2: {{game.ai}} </div>
<div> Current Player: <p style="color:{{game.current_player()}}">{{game.current_player()}}</p></div>

{% for row in game.board_to_template() %}
    {% for field in row%}
        <div class="tile" id="{{field[0]}}" style="color:{{field[1]}};clear:{{field[2]}}">{{field[3]}}</div>
    {% endfor %}
{% endfor %}

<div id="thinking"> </div>


<script>
    var elem = document.getElementById('thinking');

    $(".tile")
    .on("click", function(){
        currentTile = $(this);
        $.ajax({
          url: "{{game.iid}}/move",
          type: "post",
          data: {"move": currentTile.attr('id')},
          success: function(response) {
            $("#board").html(response);

            var timeLeft = {{game.thinking_time}};
            var timerId = setInterval(countdown, 1000);
                function countdown() {
                  if (timeLeft == 0) {
                    clearTimeout(timerId);
                    doSomething();
                  } else {
                    elem.innerHTML = timeLeft + ' seconds remaining';
                    timeLeft--;
                  }
                }
            //start call to get answer from machine
            $.ajax({
              url: "{{game.iid}}/move",
              type: "get",
              data: {},
              success: function(response) {
                $("#board").html(response);
              },
              error: function(xhr) {
                //Do Something to handle error
              }
            });
          },
          error: function(xhr) {
            //Do Something to handle error
          }
        });
    })
    .on('mouseenter',function(){
		$(this).addClass('hover');
	})

	.on('mouseleave',function(){
		$(this).removeClass('hover');
	});


</script>